spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/lmsdb
    username: lms_user
    password: lms_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: Learning Management System
